<h2>利用者情報　詳細</h2>
<table>
  <tr>
    <th>
      氏名
    </th>
    <th>
      <%= @customer.full_name %>
    </th>
  </tr>
  <tr>
    <th>
      フリガナ
    </th>
    <th>
      <%= @customer.full_name_kana %>
    </th>
  </tr>
  <tr>
    <th>
      在籍ステータス
    </th>
    <th>
      <%= @customer.is_deleted %>
    </th>
  </tr>
  <%= link_to "情報編集", edit_admin_customer_path(@customer), data: {"turbolinks" => false} %>
</table>