<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="top-link">
        <%= link_to "利用者一覧", admin_customers_path, class: "btn btn-1 btn-lg" %>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="top-link">
        <%= link_to "スタッフ一覧", admin_staff_members_path, class: "btn btn-2 btn-lg" %>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>