<h2>スタッフ一覧</h2>
<%= link_to "スタッフアカウント作成", new_staff_member_registration_path %>
<table>
  <tbody>
    <% @staff_members.each do |staff_member| %>
      <%= link_to admin_staff_member_path(staff_member) do %>
        <%= staff_member.full_name %>
      <% end %>
    <% end %>
  </tbody>
</table>