  <div class="container-fluid">
    <div class="top_img img-responsive">
      <div class="row">
        <div class="col-xs-1 col-sm-3 col-md-4"></div>
        <div class="col-xs-10 col-sm-6 col-md-4">
          <div class= "main_title">
            kaigo records
          </div>
        </div>
        <div class="col-xs-1 col-sm-3 col-md-4"></div>
      </div>


        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-6 col-sm-offset-1">
            <div class="login">
              <%= link_to "管理者ログイン", new_admin_session_path, class:"login" %>
            </div>
          </div>
          <div class="col-sm-3"></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-6 col-sm-offset-1">
            <div class="login">
              <%= link_to "スタッフログイン", new_staff_member_session_path, class:"login" %>
            </div>
          </div>
          <div class="col-sm-3"></div>
        </div>
    </div>
  </div>
