/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

    .nav_title {
      font-family: 'Teko', sans-serif;
      color: #009900;
    }

    .btn-info {
      font-family: 'Stick', sans-serif;
      margin: 3px;
      background: #3CB371;
    }

    .navbar-text {
      font-family: 'Stick', sans-serif;
    }

    .navbar {
      background-color: #CCFF66;
      margin-bottom: 0px;
    }

    .top_img {
      background-image: image-url('table201261768.jpg');
      background-size: cover;
      height: 80%;
      margin: 80px;
    }

    html {
      height: 100%;
    }

    body {
      background-color: #FFFFCC;
      height: 100%;
    }

    .main_title {
      font-family: 'Teko', sans-serif;
      text-align: center;
      font-size: 81px;
      margin: 15px;
      color: #99CCFF;
    }

    .login {
      font-family: 'Stick', sans-serif;
      text-align: center;
      font-size: 25px;
      margin: 15px;
      color: #00AA00;
    }

    h2,h1 {
      font-family: 'Stick', sans-serif;
    }

    .field {
      font-family: 'Stick', sans-serif;
      margin-top: 20px;
    }

    .actions {
      font-family: 'Stick', sans-serif;
      margin-top: 40px;
    }

    .devise-title {
      margin-top: 50px;
    }

    .top-link {
      margin-top: 40%;
    }

    .btn-1 {
      width: 100%;
      background: #FF9933;
      color: white;
    }

    .btn-2 {
      width: 100%;
      background: #6699CC;
      color: white;
    }

    .btn-3 {
      margin-top: 5%;
      background: #00EE00;
      color: white;
    }

    .btn-4 {
      margin-top: 5%;
      background: #660066;
      color: white;
    }

    .container-fluid {
      font-family: 'Stick', sans-serif;
    }