/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

    .nav_title {
      font-family: 'Teko', sans-serif;
      color: #009900;
    }

    .navbar {
      background-color: #CCFF66;
      margin-bottom: 0px;
    }

    .top_img {
      background-image: image-url('table201261768.jpg');
      background-size: cover;
      height: 80%;
      margin: 80px;
    }

    html {
      height: 100%;
    }

    body {
      background-color: #FFFFCC;
      height: 100%;
    }

    .main_title {
      font-family: 'Teko', sans-serif;
      text-align: center;
      font-size: 81px;
      margin: 15px;
      color: #99CCFF;
    }

    .login {
      font-family: 'Stick', sans-serif;
      text-align: center;
      font-size: 25px;
      margin: 15px;
      color: #00AA00;
    }

    .field {
      margin-top: 20px;
    }

    .actions {
      margin-top: 40px;
    }

    .devise-title {
      margin-top: 50px;
    }

    .top-link {
      margin-top: 40%;
    }

    .btn-1 {
      width: 100%;
      background: #FF9933;
      color: white;
    }

    .btn-2 {
      width: 100%;
      background: #6699CC;
      color: white;
    }

    .btn-3 {
      margin-top: 5%;
      background: #00EE00;
      color: white;
    }

    .btn-4 {
      margin-top: 5%;
      background: #660066;
      color: white;
    }

    .btn-5 {
      margin-top: 5%;
      background: #FF9933;
      color: white;
    }

    .container-fluid {
      font-family: 'Stick', sans-serif;
    }

    .search {
      margin-top: 5%;
    }

    .list {
      display: flex;
      flex-direction: column;
      font-size: 25px;
    }

    .exit {
      text-align: center;
      margin-top: 10%;
    }

    @media screen and (max-width:768px){
        #hm-icon {
          position: fixed;
          right: 20px;
          top: 20px;
          z-index: 10;
        }
        .menu-trigger,
        .menu-trigger span {
          display: inline-block;
          transition: all .4s;
          box-sizing: border-box;
        }
        .menu-trigger {
          position: relative;
          width: 48px;
          height: 43px;
        }
        .menu-trigger span {
          position: absolute;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: #000;
          border-radius: 4px;
        }
        .menu-trigger span:nth-child(1) {
          top: 0;
        }
        .menu-trigger span:nth-child(2) {
          top: 20px;
        }
        .menu-trigger span:nth-child(3) {
          bottom: 0;
        }

        .menu-trigger.active {
          transform: rotate(360deg);
        }
        .menu-trigger.active span:nth-of-type(1) {
          transform: translateY(20px) rotate(-45deg);
        }
        .menu-trigger.active span:nth-of-type(2) {
          transform: translateY(0) rotate(45deg);
        }
        .menu-trigger.active span:nth-of-type(3) {
          opacity: 0;
        }

        #sp-menu {
          position: fixed;
          top: 0;
          left: 0;
          background: #FFFFCC;
          color: #fff;
          width: 100%;
          min-height: 100%;
          display: none;
          z-index: 9;
        }
        #sp-menu li {
          text-align: center;
          margin-bottom: 30px;
        }
        #sp-menu a {
          color: #009900;
          text-decoration: none;
          font-weight: bold;
        }

        .nav_title {
          font-family: 'Teko', sans-serif;
          color: #009900;
          font-size: 30px;
          margin-left: 10px;
        }

        .navbar-text {
          margin-left: 10px;
        }

        .top_img {
          background-image: image-url('table201261768.jpg');
          background-size: cover;
          margin : 15px auto;
        }

        .main_title {
          font-family: 'Teko', sans-serif;
          text-align: center;
          font-size: 70px;
          margin: 15px;
          color: #99CCFF;
        }

        .scroll {
          overflow-x: auto;
        }

        .tbl-cst-idx {
          min-width: 320px;
          margin: 20px 10px 50px;
        }

    }

    @media screen and (min-width:769px){
      #sp-menu {
        list-style: none;
        overflow: hidden;
        margin-top: 15px;
      }

      #sp-menu li {
        width: 140px;
        text-align: center;
        float: left;
      }

      #sp-menu a {
        text-decoration: none;
        font-weight: bold;
        color: #009900;
      }

      .scroll {
        overflow-x: none;
      }

      .tbl-cst-idx {
        min-width: 100%;
        margin: 20px 10px 50px;
        font-size: 21px;
      }

    }